*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', arial, sans-serif;
    box-sizing: border-box;
}

/* .banner-yangtze{
    background-image: url(media/banneryangtze.svg);
    background-color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid red;
} */

/* .banner-parana{
    background-image: url(media/bannerparana.svg);
    background-color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;  
    position: top;
} */


html{
    scroll-behavior: smooth;
}

p{
    font-size: 18px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style-type: none;
    width: 90%;
    margin-left: 5%;
    padding: 2px;
}

li{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

h2{
    text-align: center;
    padding: 5px;
    padding-top: 15px;
}
h3{
    text-align: left;
    padding-top: 15px;
    margin-left: 68px;
    margin-bottom: -1%;
}


@media screen and (max-width:768px){
    .banner-parana, .banner-yangtze{
        padding-bottom: 10px;
        width: 100%;
    }

    p{
        font-size: 14px;
        display: block;
        text-align: justify;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-left: 5%;
        /* padding: 2px; */
    }
    
    h2{
        text-align: center;
        font-size: 22px;
    }

    h3{
        text-align: left;
        font-size: 17px;
        margin-left: 6%;
    }

}

/* MENU */
.header{
    height: 100px;
    padding: 0 20px;
    color: black;
    background-color: #BACFE4;
}

.logo{
    /* line-height: 100px;
    float: left; */
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-top: 15px;
}

.menu{
    float: right;
    line-height: 100px; 
    font-size: 18px;
    font-weight: 400;
}

.menu a{
    color: black;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s; 
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-weight: 400;
    cursor: pointer;
    display: none;  
}

.show-menu-btn{
    float: right;  
}

.show-menu-btn i{
    line-height: 100px;  
}

.menu a:hover{
    border-bottom: 3px solid #DA1B83;    
}

.menu a:hover, 
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #05529d;    
}

#checkbox{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:768px){
    .show-menu-btn, .hide-menu-btn{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:  #BACFE4;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 9999;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #checkbox:checked ~ .menu{
        right: 0;
    }

    .menu a:hover{
        border-bottom: 3px solid #DA1B83; 
    }
}

                                    /* YANGZTE */
/* Intro Yangtze */
.intro-tekst-yangtze{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}

.introductie-yangtze{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
}

.introductie-yangtze>div{
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: center;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}

.kaart-yangtze{
    height: 90%;
    width: 100%;
}


@media screen and (max-width:768px){
    .introductie-yangtze{
        display: grid;
        grid-template-columns: 1fr;
    }

    .introductie-yangtze>div{
        margin: 2%;
        margin-left: 1.5%;
    }

    .intro-tekst-yangtze{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 100px;
        width: 95%;
    }

    .kaart-yangtze{
        height: auto;
        max-width: 100%;
    }

}

/* Delta yangtze */
/* .deyangtzedelta{
    margin-top: -100px;
} */

.de-yangtze-delta{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}
@media screen and (max-width:768px){
    .deyangtzedelta{
        margin-top: 30px;
    }

    .de-yangtze-delta{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 10px;
        width: 95%;
    }
}  

/* Klimaat Yangtze */

/* .klimaatyangtze{
    padding-top: 1px;
} */

.grafiek-neerslag-yangtze{
    position: relative;
    height: 96.6%;
    width: 100%;
    /* border: 1px solid red; */
}

.klimaat-tekst-yangtze{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}

.klimaat-yangtze{
    height: 90%;
    width: 100%;
    /* margin-top: 25px; */
    /* border: 1px solid red; */
}

.klimaat-fotos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
}

.klimaat-fotos>div{
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}

@media screen and (max-width:768px){
    .klimaat-fotos{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .klimaat-fotos>div{
        overflow: hidden;
        position: relative;
        text-align: center;
        right: 12px;
    }

    .klimaat-tekst-yangtze{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 10px;
        width: 95%;
    }

    .grafiek-neerslag-yangtze{
        height: 50vh;
        width: 95vw; 
    }

    .klimaat-yangtze{
        height: 90%;
        max-width: 100%;
    }
}

                                    /* PARANÃ */
/* Intro Parana */

.introductie-parana{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px, auto);
}

.introductie-parana>div{
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
}

.kaart-parana{
    height: 90%;
    width: 100%;
}

.intro-tekst-parana{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}

.titel-intro{
    text-align: center;
}

.text-intro{
    text-align: center;
}

@media screen and (max-width:768px){
    .introductie-parana{
        display: grid;
        grid-template-columns: 1fr;
    }

    .introductie-parana>div{
        margin: 2%;
        margin-left: 1.5%;
    }

    .intro-tekst-parana{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 10px;
        width: 95%;
    }

    .kaart-parana{
        height: auto;
        max-width: 100%;
    }

}

/* Delta Parana */

/* .deparanadelta{
    margin-top: 100px;
} */

.de-parana-delta{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}

.deparanadelta{
    text-align: center;
}

.delta-fotos{
    padding: 2%;
    margin-left: 28%;
}

@media screen and (max-width:768px){
    .deparanadelta{
        margin-top: 30px;
    }

    .de-parana-delta{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 10px;
        width: 95%;
    }

    .delta-fotos{
        margin: 2%;
        margin-left: 1%;
    }

}

/* Klimaat Parana */

.klimaat-fotos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
}

.klimaat-fotos>div{
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}

.chart-container{
    /* position: relative; */
    height: 90%;
    width: 50vw;
}

.klimaat-tekst-parana{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}

.klimaat-parana{
    height: 90%;
    width: 100%;
}


@media screen and (max-width:768px){
    .klimaat-fotos{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .klimaat-fotos>div{
        overflow: hidden;
        position: relative;
        text-align: center;
        right: 38px;
    }

    .klimaat-tekst-parana{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 10px;
        width: 95%;
    }

    .chart-container{
        height: 50vh;
        width: 95vw;
    }

    .klimaat-parana{
        height: 90%;
        max-width: 100%;
    }


}

/* Geomorfologie Parana */

.geomorfologie-tekst-parana{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}

@media screen and (max-width:768px){
    .geomorfologie-tekst-parana{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 10px;
        width: 95%;
    }
  
}

/* Ecologie Parana */

.ecologie-tekst-parana{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}

.ecologie-fotos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
}

.ecologie-fotos>div{
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}

.biodiversiteit-afbeelding{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:768px){
    .ecologie-tekst-parana{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 10px;
        width: 95%;
    }

    .ecologie-fotos{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .ecologie-fotos>div{
        overflow: hidden;
        position: relative;
        text-align: center;
        right: 10px;
    }
  
}

/* Stedelijke ontwikkeling */

.stedelijke-ontwikkeling-tekst-parana{
    text-align: justify;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
    /* border: 1px solid red; */
}

@media screen and (max-width:768px){
    .stedelijke-ontwikkeling-tekst-parana{
        text-align: left;
        margin-left: 5%;
        margin: 2%;
        margin-top: 10px;
        width: 95%;
    }
}

/* Footer */
footer{
    /* margin-top: 2000px; */
    background-color: #FEFEFE;
}

.bronnen{
    text-decoration: none;
    color: black;

}

.footer-tekst{
    margin-block-start: 0.5px;
    margin-block-end: 0.5px;
    text-align: center;
    font-size: 11px;
}

@media screen and (max-width:768px){
    footer{
        /* margin: 5%; */
        font-size: 10px;
        /* margin-top: 1700px; */
    }

    .bronnen{
        text-decoration: none;
        color: black;
    }

    .footer-tekst{
        margin-block-start: 0.5px;
        margin-block-end: 0.5px;
    }
}
/* Geologie */

/* .geologie{
    padding-top: 10px;
} */



/* RESPONSIVE */

/* menu */
/* @media screen and (max-width:800px){
    
    h1, p{
        padding: 5px;
    }
s
    .kaart-parana{
        width: 100%;
        height: 100%;
    }

    .kaart-yangtze{
        width: 100%;
        height: 100%;
    }
} */

/* #datawrapper-chart-g1sWk{
    width: 570px; 
    max-width: 100% !important; 
    border: none;
    height: 637px;
    margin-left: 5%;
    padding: 1%;
} */
