/* MENU */
.header{
    height: 100px;
    padding: 0 20px;
    color: black;
}

.logo{
    /* line-height: 100px;
    float: left; */
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-top: 15px;
}

.menu{
    float: right;
    line-height: 100px; 
}

.menu a{
    color: black;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s; 
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-weight: 400;
    cursor: pointer;
    display: none;  
}

.show-menu-btn{
    float: right;  
}

.show-menu-btn i{
    line-height: 100px;  
}

.menu a:hover{
    border-bottom: 3px solid #DA1B83;    
}

.menu a:hover, 
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #05529d;    
}

#checkbox{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:768px){
    .show-menu-btn, .hide-menu-btn{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:  #BACFE4;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 9999;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #checkbox:checked ~ .menu{
        right: 0;
    }

    .menu a:hover{
        border-bottom: 3px solid #DA1B83; 
    }
}